.Expense {
  width: 100%;
  height: 100%;

  .expenseForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .expenseTitle {
      display: flex;
      // flex-direction: column;
      justify-content: space-around;
      width: 100%;
      height: 100px;
      background-color: blue;

      h2 {
        width: 100%;
        text-align: center;
        font-size: 35px;
      }

      button {
        align-self: center;
        width: 80px;
        height: 30px;
      }
    }

    .expenseListContainer {
      width: 100%;

      .expenseList {
        display: flex;
        flex-direction: column;
        width: 85%;
        // background-color: green;
        margin: auto;

        .expenseContainer {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-top: 10px;
          background-color: pink;

          .expenseCategory {
            width: 120px;
          }

          .expenseInput {
            width: 100px;
          }
          .priceInput {
            width: 50px;
          }
        }
      }
    }
  }


}