
td, th {
  border: 2px solid #000;
  width: 100%;
  padding: 5px 0 5px 0;
}

.History {

  border-collapse: collapse;

  table {
    // display: flex;
    width: 100%;

    tr {
      display: flex;
      width: 100%;
      justify-content: space-between;

      th {
        background-color: #FBF5F3;
      }
    }

    .incomeItem {
      background-color: #4CB963;
    }
    .expenseItem {
      background-color: #E4572E;
    }
  }

}