@import "../../globals.scss";


td, th {
  border: 2px solid $darkestPurple;
  width: 100%;
  padding: 5px 0 5px 0;
}

.History {
  // margin-top: 30px;

  table {
    width: 100%;

    tr {
      display: flex;
      width: 100%;
      justify-content: space-between;

      th {
        background-color: $lightestPurple;
        color: $white;
        font-size: 25px;
        font-weight: bold;
      }
    }

    td {
      display: flex;
      color: $white;
      font-size: 20px;
      background-color: $darkPurple;
      span {
        margin: auto;
      }
    }

    .incomeItem {
      .symbol {
        font-size: 25px;
        margin-right: 5px;
        color: $green;
      }
    }
    .expenseItem {
      .symbol {
        font-size: 25px;
        margin-right: 5px;
        color: $red;
      }
    }
  }

}