@import "./globals.scss";

.App {
  text-align: center;
  background-color: $mediumPurple;
  width: 40%;
  height: 100vh;
  margin: auto;

  .pageContainer {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;

    .buttonContainer {
      display: flex;

      .backButton {
        margin-left: 30px;
        margin-top: 20px;
        width: 100px;
        height: 30px;
        border-radius: 5px;
        border: none;
        font-size: 16px;
        font-weight: bold;
        background-color: #EA5843;
      }

      .backButtonHidden {
        visibility: hidden;
        margin-left: 30px;
        margin-top: 20px;
        width: 100px;
        height: 30px;
        border-radius: 5px;
      }
    }

    .title {
      font-size: 55px;
      font-weight: bold;
      margin-bottom: 20px;
      margin-top: 10px;
      color: #fff;
    }
  }
}
