////////////////////////////////////
//            COLORS              //
////////////////////////////////////

$darkPurple: #4546B1;
$mediumPurple: #4B4CC2;
$lightPurple: #5658DD;
$lightBlue: #8185E8;
$white: #E4E3FF;