////////////////////////////////////
//            COLORS              //
////////////////////////////////////

$selectedPurple: #585ed8;
$darkestPurple: #393A91;
$darkPurple: #4546B1;
$mediumPurple: #4B4CC2;
$lightPurple: #5658DD;
$lightestPurple: #6567E0;
$lightBlue: #8C90EA;
$white: #E4E3FF;

$green: #4CB963;
$red: #E4572E;